# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Build output
dist/

# Optional npm cache directory
.npm

# dotenv environment variable files
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
dist/
/.vs/CopilotSnapshots/779CD31E4E0B0D48B188060048B36519
/.vs/FlowFinder/CopilotIndices/18.0.988.22099
/.vs/FlowFinder.slnx
/.vs
